<div class="authform">
  
  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
    <h3>Forgot your password?</h3><hr>
    
    <p>We'll send password reset instructions.</p>
    <br>

    <div class="form-group">
      <%= f.email_field :email, :autofocus => true, placeholder: "Email Address", class: 'form-control' %>
    </div>
    <%= f.submit 'Reset Password', :class => 'button right' %>
    <br>
  <% end %>
</div>
